*{
  padding: 0;
  margin: 0;
}
:root{
  --letra_cabin:"Cabin", sans-serif;;
  --letra_cursiva:"Pacifico";
  --letra:"Rubik maps";
}

header{
  background-color: yellow;
  /* background-image: url(imagenes/fondo.png);
  background-repeat: no-repeat;
  background-position: 1420px; */
  padding: 0;
}

.content__imgenes{
  /* background-color: yellow; */
  height: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__princ img{
  width: 150px;
  height: 100px;
  /* background-color: blue; */
}
.logo__princ {
  display: flex;
  align-items: center;
}
.fa-mobile-screen-button{
  font-size: 50px;
}
.nav__bar{
  display: flex;
  justify-content: end;
  /* background-color: rgb(9, 90, 100); */
  max-width: 90%;
  margin: 0 auto;
  
}
.nav__bar ul{
  display: flex;
  justify-content: space-around;
  /* background-color: aqua; */
  width: 50%; 
  list-style: none;
  font-family: var(--letra_cabin);
  
}
.section1__ini{
  /* background-color: blue; */
  padding: 10px;
}
.section1__cont{
  /* background-color: rgb(90, 90, 67); */
  display: flex;
  /* flex-direction: column; */
  /* height: 500px; */
  margin: 30px;
}
.contenedor{
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  margin: 0 auto;
  padding: 50px;
}

.plato_img{
  /* background-color: aqua; */
  margin: 0 auto;
}
.section1__cont__text1{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 20px;
}
.section1__cont__text2{
  /* background-color: rgb(255, 0, 221);  */
  width: 20%;
  margin: 20px;
}
.section1__cont_letra1{
  font-family: var(--letra_cursiva);
  font-size: 25px;
}
.section1__cont_letra2{
  font-family: var(--letra);
  font-size: 70px;
}
.section1__cont_letra3{
  font-size: 30px;
}
.tomate_imagen{
  position: absolute;
  width: 100px;
  top: 580px;
  left: 1000px;
}
.hoja_imagen{
  position: absolute;
  width: 100px;
  top: 200px;
  left: 170px;
}
.section1__cont__text2{
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px;
}
.section1__cont__button{
  color: black;
  background-color: yellow;
  border: 1px solid black ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 25px;
  border-radius: 4px;
  font-family: var(--letra);
  font-size: 15px;
  
}
.section1__cont_parrafo{
  font-size: 20px;
}
.section1__cont__text2 h1{
  font-family: var(--letra);
  font-size: 40px;
}
.boton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 20px;
}

/* seccion 2 */
.section2__ini{
  /* background-color: aqua; */
  padding: 10px;
}
.section2__cont{
  /* background-color: antiquewhite; */
}
.section2__cont1__text{
  /* background-color: blueviolet; */
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.section2__cont1__text h1{
  font-family: var(--letra);
  font-size: 50px;
}
.section2__cont1__text p{
  font-family: var(--letra_cabin);
  font-size: 17px;
}

.section2__cont2_cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 60%;
  margin: 0 auto;
  /* background-color: brown; */

}
.card1{
  /* background-color: rgb(148, 179, 127); */
  display: flex ;
  flex-direction: column;
  margin: 0 auto;
}
.card1 img{
  /* background-color: rgb(102, 255, 0); */
  display: flex ;
  flex-direction: column;
  margin: 0 auto;
}
.card2 img{
  /* background-color: rgb(102, 255, 0); */
  display: flex ;
  flex-direction: column;
  margin: 0 auto;
}
.card3 img{
  /* background-color: rgb(102, 255, 0); */
  display: flex ;
  flex-direction: column;
  margin: 0 auto;
}
.card_content{
  /* background-color: rgb(108, 163, 156); */
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.card1__button{
  background-color: yellow;
  height: 30px;
  width: 100px;
  margin-top: 20px; 
  border: none;
  border-radius: 2px;
  margin-bottom: 20px;
}
.section2__cont2_cards img{
  width: 200px;
}
.barra{
  position: absolute;
  z-index: -1;
  top: 720px;
  right: 0;
  width: 15000px;
  height: 500px;
  
}
.esponja{
  position: absolute;
  z-index: 1;
  top: 650px;
  left: 0;
  right: 500;
  width: 200px;
  height: 200px;
}
/* seccion 3 */
.section3__ini{
  /* background-color: aqua; */
  padding: 10px;
}
.section3__cont{
  /* background-color: antiquewhite; */
}
.section3_text{
  /* background-color: blueviolet; */
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.section3_text h1{
  font-family: var(--letra);
  font-size: 50px;
}
.section3_text p{
  font-family: var(--letra_cabin);
  font-size: 17px;
}

.section3__imagenes{
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 400px;
  margin: 0 auto;

}
.imagen_carrusel2{
  margin: 0 auto;
  position: absolute;
  top: 1340px;
  left: 550px;
  width: 700px;
  z-index: 1;
}
.imagen_carrusel1{

  width: 600px;
  height: 400px;
}
.imagen_carrusel3{

  width: 600px;
  height: 400px;
  grid-column: 3;
}



.section4__ini{
  /* background-color: aqua; */
  padding: 20px;
}
.section4__cont{
  background-color: antiquewhite;
  padding: 20px;
}
.section4__popular{
  display: grid;
  grid-template-columns: 700px 1fr;
  grid-template-rows:2fr ;
  background-color: aqua;
  padding: 20px;
}
.section4__card1{
  grid-row: 1/3;
  width: 100%;
  /* background-image: url(imagenes/pasta4.png); */
  background-color: brown;
  background-image: url(imagenes/pasta4.png);
  background-image: cover;
}
.section4__card1{
  width: 600px;
  height: 400px;
}








